---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.id }, 
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Jack Dunn - {post.data.title}</title>
	</head>
  <Layout title={post.data.title}>
    <article class="prose prose-invert prose-stone max-w-none">
      <header class="mb-4">
        <h1 class="text-3xl font-bold text-[#ededed] mb-2">
          {post.data.title}
        </h1>
        <time class="text-[#a1a1a1] italic">
          {post.data.date.toLocaleDateString('en-US', {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
          })}
        </time>
      </header>
      
      <div class="leading-relaxed">
        <Content />
      </div>
    </article>
  </Layout>
</html>