---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import RecentPost from "../components/RecentPost";

// 1. Fetch all posts
const allPosts = await getCollection("blog");

console.log(allPosts[1]);

// 2. Sort by date (Newest first) and take the top 5
const recentPosts = allPosts
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 3);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <Layout>
    <h1 class="text-2xl font-medium mb-8">Jack Dunn</h1>

    <div class="space-y-6 leading-relaxed">
      <p>
        I'm a recent mathematics graduate from SNHU and former web developer.
        <br />
        <br />
        Now, I'm focused on actuarial science. I have passed
        <span class="font-bold text-emerald-500">Exam FM (December 2025)</span> and
        <span class="font-bold text-emerald-500">Exam P (March 2026)</span>. I
        am currently looking for full-time positions.
      </p>

      <p>
        In my free time I enjoy working on various projects and writing about
        them here on this site.
      </p>
    </div>

    <section class="mt-12">
      <h2 class="font-medium text-xl">Recent Projects</h2>
      <ul class="mt-4">
        {
          recentPosts.map((post) => (
            <li class="group">
              <RecentPost {...post.data} url={`/blog/${post.id}`} />
            </li>
          ))
        }
      </ul>
    </section>
  </Layout>
</html>
