---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
---

<body class="antialiased">
  <main class="max-w-5xl mx-auto px-12 py-16">
    <Nav />
    <slot />
  </main>
</body>
